DATABASE_URL="postgresql://user:password@aws-1-pooler:6543/mayoriza?pgbouncer=true"
DIRECT_URL="postgresql://user:password@aws-1-pooler:5432/mayoriza"
MOCK_AUTH_USER_ID="user-id-here"
SUPABASE_URL="https://tu-proyecto.supabase.co"
SUPABASE_PUBLISHABLE_KEY="tu-publishable-key-publica"
SUPABASE_SECRET_KEY="tu-secret-key-secreta"
